# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
*.sqlite3

# Variables de entorno
.env

# Archivos estáticos generados
staticfiles/

# Extensiones de VS Code
.vscode/
.extension/

# Media (imágenes subidas — ahora en Cloudinary)
media/

# Backups de base de datos
*.sql