{% load static %}<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Error 403</title>
  <link href="https://fonts.googleapis.com/css?family=Instrument+Sans&display=swap" rel="stylesheet" />
  <link href="./css - error404/error404.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/404.css}">
</head>

<body>
  <div class="v103_126">

    <div class="v157_264"></div>

    <span class="v157_266">403</span>
    <span class="v157_271">Acceso Denegado</span>
    <span class="v188_221">
      Lo sentimos, pero no tienes permisos.
    </span>
    <a th:href="@{/}" class="volver-inicio">
      <span class="flecha">&#8592;</span> Volver a la página de inicio
    </a>
    <div class="v188_229">
      <div class="name"></div>
    </div>

    <div class="name"></div>

  </div>
</body>

</html>